<!DOCTYPE html>
<html lang="en">
  <meta charset="UTF-8">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sugarbowl</title>

    <!--Bootstrap styling-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">

    <!--CSS-->
    <link rel="stylesheet" href="/stylesheets/style.css">

</head>
<body>
<!-- content div -->
<div class="content">

<!-- Navigation Bar-->
<nav id="navbar-mainsite" class="navbar navbar-expand-lg navbar-dark" style='background-color: #352e29'>
    <a class="navbar-brand" href="https://www.thesugarbowl.org/">
    <img id="sugarbowl-logo" src='/images/sugarbowl-logo.png' alt='sugarbowl logo' width="225px;" style="margin-left:36px;">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" style="margin-right:20px;">
    <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul id="navbar-nav-mainsite" class="navbar-nav mr-auto">
        <li class="nav-item active" style="margin-left:15px;">
        <a id="navbar-link-mainsite" class="nav-link active" href="#"><h3 id="nav-link">beverages</h3></a>
        </li>
        <li class="nav-item" style="margin-left:15px;">
        <a id="navbar-link-mainsite" class="nav-link" href="https://sugarbowl-103579.square.site/"><h3 id="nav-link">food</h3></a>
        </li>
        <li class="nav-item" style="margin-left:15px;">
        <a id="navbar-link-mainsite" class="nav-link" href="https://www.thesugarbowl.org/about-us"><h3 id="nav-link">about us</h3></a>
        </li>
        <li class="nav-item" style="margin-left:15px;">
        <a id="navbar-link-mainsite" class="nav-link" href="https://www.thesugarbowl.org/contact-us"><h3 id="nav-link">contact us</h3></a>
        </li>
    </ul>
    </div>
</nav>

<!-- banner sugarbowl -->
<div id="bannerSugarbowl">
  <h4 class="banner-text display-7 p-5">Click <span style="color:#66a3ff; display:inline; text-decoration:underline;">Menu Item Names</span> for more info.</h4>
</div>

<!-- jumbotron beverages -->
<a id="beverages">
  <div id="bannerBeverages">
    <h1 class="banner-text display-4 p-5">BEVERAGES</h1>
  </div>
  </a>

        <div class="accordion" id="accordionBeverages">
            <div class="accordion-item">
              <h2 class="accordion-header" id="beerCider">
                <button class="accordion-button text-center" type="button" data-bs-toggle="collapse" data-bs-target="#collapseBeerCider" aria-expanded="false" aria-controls="collapseBeerCider">
                  Beer/Cider (Can/Bottle)
                </button>
              </h2>
              <div id="collapseBeerCider" class="accordion-collapse collapse" aria-labelledby="beerCider" data-bs-parent="#accordionBeverages">
                <div class="accordion-body">

                    <table class="center mb-4" style="width:90%;">
                      <tbody>
                        <tr>
                          <td colspan="2" style="text-align: center;"><b>Gluten-Free</b> <b style="color:#B9770E;">GF</b></td>
                        </tr>
                      </tbody>
                    </table>
                  
                    <table class="table table-striped" style="text-align:left;">
                        <tbody>
                          <tr>
                            <!-- <th scope="row">1</th> -->
                            <td><strong>Alleykat Aprikat Apricot Ale</strong><p class="availability"><%= alleykat.availability %></p><br>Edmonton / 355 mL / 5%</td>
                            <td>6.50</td>
                          </tr>
                          <tr>
                            <td><strong>Analog Hive Bomber Honey Wheat</strong><p class="availability"><%= analog.availability %></p><br>Edmonton / 473 mL / 4.3%</td>
                            <td>9</td>
                          </tr>
                          <tr>
                            <td><strong>Annex Force Majeure NE IPA</strong><p class="availability"><%= annexforce.availability %></p><br>Calgary / 473 mL / 6.9%</td>
                            <td>9</td>
                          </tr>
                          <tr>
                            <td><strong>Apex Predator Double IPA</strong><p class="availability"><%= apex.availability %></p><br>Yellowhead County, AB / 473 mL / 8.2%</td>
                            <td>9</td>
                          </tr>
                          <tr>
                            <td><strong>Blindman Triphammer Porter</strong><p class="availability"><%= blindman.availability %></p><br>Lacombe, AB / 473 mL / 6.5%</td>
                            <td>9</td>
                          </tr>
                          <tr>
                            <td><strong>Brauerei Fahr AB Hefeweizen<p class="availability"><%= b_hefe.availability %></p></strong><br>Turner Valley, AB / 355 mL / 5.3%</td>
                            <td>6.50</td>
                          </tr>
                          <tr>
                            <td><strong>DDC Aphrodisiaque Strong Stout</strong><p class="availability"><%= ddc.availability %></p><br>Quebec / 341 mL / 6.5%</td>
                            <td>8</td>
                          </tr>
                          <tr>
                            <td><strong>Mongozo Premium Pilsner </strong><b style="color:#B9770E;">GF </b><p class="availability"><%= mongoz.availability %></p><br>Belgium / 330 mL / 5%</td>
                            <td>8</td>
                          </tr>
                          <tr>
                            <td><strong>New Level Berserker Blonde</strong><p class="availability"><%= berserk.availability %></p><br>Calgary / 473 mL / 5.5%</td>
                            <td>8.25</td>
                          </tr>
                          <tr>
                            <td><strong>Sea Change Prairie Fairy Blackberry Wheat</strong><p class="availability"><%= seach.availability %></p><br>Edmonton / 473 mL / 5%</td>
                            <td>8.75</td>
                          </tr>
                          <tr>
                            <td><strong>SYC Pontification Italian Pilsner</strong><p class="availability"><%= sycPont.availability %></p><br>Edmonton / 473 mL / 4.9%</td>
                            <td>9</td>
                          </tr>
                          <!-- <tr>
                            <td><strong>The Dandy Brewing Company T2G IPA</strong><p class="availability"><%= dandyt2g.availability %></p><br>Calgary / 473 mL / 7.5%</td>
                            <td>9</td>
                          </tr> -->
                          <tr>
                            <td><strong>Troubled Monk Open Road American Brown Ale</strong><p class="availability"><%= troubledMonk.availability %></p><br>Edmonton / 355 mL / 5%</td>
                            <td>7</td>
                          </tr>
                          <tr>
                            <td>

                              <!-- Button trigger modal -->
                              <button type="button" class="btn btn-link p-0" data-bs-toggle="modal" data-bs-target="#modalFeatureBelgians">
                              <strong>Feature Belgians</strong>
                              </button>

                                <!-- Modal -->
                                <div class="modal fade" id="modalFeatureBelgians" tabindex="-1" aria-labelledby="modalLabelFeatureBelgians" aria-hidden="true">
                                  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                                    <div class="modal-content">
                                      <div class="modal-header text-center">
                                        <h4 class="modal-title w-100" id="modalLabelFeatureBelgians">Feature Belgians</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                      </div>
                                      <div class="modal-body">

                                        <table class="table table-striped" style="text-align:left;">
                                          <tbody>
                                            <tr>
                                              <td><strong>Achel Blond</strong><p class="availability"><%= achel.availability %></p><br>330 mL / 8%</td>
                                              <td>11</td>
                                            </tr>
                                            <tr>
                                              <td><strong>Chimay Red</strong><p class="availability"><%= chimay_r.availability %></p><br>330 mL / 7%</td>
                                              <td>12</td>
                                            </tr>
                                            <tr>
                                              <td><strong>Chimay White</strong><p class="availability"><%= chimay_w.availability %></p><br>330 mL / 8%</td>
                                              <td>12.50</td>
                                            </tr>
                                            <tr>
                                              <td><strong>Chimay Blue</strong><p class="availability"><%= chimay_b.availability %></p><br>330 mL / 9%</td>
                                              <td>11</td>
                                            </tr>
                                            <tr>
                                              <td><strong>Dupont Avec Les Bons Voeux</strong><p class="availability"><%= dupont.availability %></p><br>750 mL / 9.5%</td>
                                              <td>27</td>
                                            </tr>
                                            <tr>
                                              <td><strong>Gouden Carolus Classic</strong><p class="availability"><%= gouden.availability %></p><br>330 mL / 8.5%</td>
                                              <td>12</td>
                                            </tr>
                                            <tr>
                                              <td><strong>Oud Beersel Kriek</strong><p class="availability"><%= oudKriek.availability %></p><br>375 mL / 4%</td>
                                              <td>13</td>
                                            </tr>
                                            <tr>
                                              <td><strong>Tripel Karmeliet Golden Belgian</strong><p class="availability"><%= tripelKarm.availability %></p><br>330 mL / 8.4%</td>
                                              <td>12</td>
                                            </tr>
                                           
                                          </tbody>
                                        </table>

                                      </div>
                                    </div>
                                  </div>
                                </div>

                            </td>
                          </tr>
                          <tr>
                            <td>

                              <!-- Button trigger modal -->
                              <button type="button" class="btn btn-link p-0" data-bs-toggle="modal" data-bs-target="#modalCiders">
                              <strong>Ciders</strong> 
                              </button> (all are <b style="color:#B9770E;">GF</b>)

                                <!-- Modal -->
                                <div class="modal fade" id="modalCiders" tabindex="-1" aria-labelledby="modalLabelCiders" aria-hidden="true">
                                  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                                    <div class="modal-content">
                                      <div class="modal-header text-center">
                                        <h4 class="modal-title w-100" id="modalLabelCiders">Ciders</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                      </div>
                                      <div class="modal-body">

                                        <table class="table table-striped" style="text-align:left;">
                                          <tbody>
                                            <tr>
                                              <td><strong>Collective Arts <i>Apple</i><p class="availability"><%= ca_app.availability %></p> Cider</strong><br>Ontario / 473 mL / 5.8%</td>
                                              <td>9.50</td>
                                            </tr>
                                            <tr>
                                              <td><strong>Collective Arts <i>Apple & Cherry</i><p class="availability"><%= ca_appCherry.availability %></p> Cider</strong><br>Ontario / 473 mL / 5.8%</td>
                                              <td>9.50</td>
                                            </tr>
                                            <tr>
                                              <td><strong>Feature Cider</strong><br>Ask your server</td>
                                              <td>Market Price</td>
                                            </tr>
                                          </tbody>
                                        </table>

                                      </div>
                                    </div>
                                  </div>
                                </div>

                            </td>
                          </tr>
                        </tbody>
                      </table>

                </div>
              </div>
            </div>

            <div class="accordion-item">
              <h2 class="accordion-header" id="tapsFeatureBottles">
                <button class="accordion-button collapsed text-center" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTapsFeatureBottles" aria-expanded="false" aria-controls="collapseTapsFeatureBottles">
                  Rotating Feature Beers (<b>DRAFT</b>/Can/Bottle)
                </button>
              </h2>
              <div id="collapseTapsFeatureBottles" class="accordion-collapse collapse" aria-labelledby="tapsFeatureBottles" data-bs-parent="#accordionBeverages">
                <div class="accordion-body">

                  <table class="center mb-4" style="width:90%;">
                    <tbody>
                      <tr>
                        <td colspan="2" style="text-align: center;"><b>Gluten-Free</b> <b style="color:#B9770E;">GF</b></td>
                      </tr>
                    </tbody>
                  </table>

                  <table class="table table-striped" style="text-align:left;">
                    <thead>
                      <tr>
                        <th colspan="2" style="text-align:center;">Feature DRAFT</th>
                      </tr>
                    </thead>
                    <tbody>
                      <% if (draft1.availability == '') { %>
                      <tr>
                        <td><strong style="margin-right:5px;"><%= draft1.name_feature %></strong><% if (draft1.diet.includes("Gluten-Free")) { %><b style="color:#B9770E;"> GF</b><% } %><p class="availability"><%= draft1.availability %></p><br><%= draft1.description %></td>
                        <td><%= draft1.price_reg %></td>
                      </tr>
                      <% } %>
                      <% if (draft2.availability == '') { %>
                      <tr>
                        <td><strong style="margin-right:5px;"><%= draft2.name_feature %></strong><% if (draft2.diet.includes("Gluten-Free")) { %><b style="color:#B9770E;"> GF</b><% } %><p class="availability"><%= draft2.availability %></p><br><%= draft2.description %></td>
                        <td><%= draft2.price_reg %></td>
                      </tr>
                      <% } %>
                      <% if (draft3.availability == '') { %>
                      <tr>
                        <td><strong style="margin-right:5px;"><%= draft3.name_feature %></strong><% if (draft3.diet.includes("Gluten-Free")) { %><b style="color:#B9770E;"> GF</b><% } %><p class="availability"><%= draft3.availability %></p><br><%= draft3.description %></td>
                        <td><%= draft3.price_reg %></td>
                      </tr>
                      <% } %>
                      <% if (draft4.availability == '') { %>
                      <tr>
                        <td><strong style="margin-right:5px;"><%= draft4.name_feature %></strong><% if (draft4.diet.includes("Gluten-Free")) { %><b style="color:#B9770E;"> GF</b><% } %><p class="availability"><%= draft4.availability %></p><br><%= draft4.description %></td>
                        <td><%= draft4.price_reg %></td>
                      </tr>
                      <% } %>
                      <% if (draft5.availability == '') { %>
                      <tr>
                        <td><strong style="margin-right:5px;"><%= draft5.name_feature %></strong><% if (draft5.diet.includes("Gluten-Free")) { %><b style="color:#B9770E;"> GF</b><% } %><p class="availability"><%= draft5.availability %></p><br><%= draft5.description %></td>
                        <td><%= draft5.price_reg %></td>
                      </tr>
                      <% } %>
                      <% if (draft6.availability == '') { %>
                      <tr>
                        <td><strong style="margin-right:5px;"><%= draft6.name_feature %></strong><% if (draft6.diet.includes("Gluten-Free")) { %><b style="color:#B9770E;"> GF</b><% } %><p class="availability"><%= draft6.availability %></p><br><%= draft6.description %></td>
                        <td><%= draft6.price_reg %></td>
                      </tr>
                      <% } %>
                      <% if (draft7.availability == '') { %>
                      <tr>
                        <td><strong style="margin-right:5px;"><%= draft7.name_feature %></strong><% if (draft7.diet.includes("Gluten-Free")) { %><b style="color:#B9770E;"> GF</b><% } %><p class="availability"><%= draft7.availability %></p><br><%= draft7.description %></td>
                        <td><%= draft7.price_reg %></td>
                      </tr>
                      <% } %>
                      <% if (draft8.availability == '') { %>
                      <tr>
                        <td><strong style="margin-right:5px;"><%= draft8.name_feature %></strong><% if (draft8.diet.includes("Gluten-Free")) { %><b style="color:#B9770E;"> GF</b><% } %><p class="availability"><%= draft8.availability %></p><br><%= draft8.description %></td>
                        <td><%= draft8.price_reg %></td>
                      </tr>
                      <% } %>
                      <!-- <% if (draft9.availability == '') { %>
                      <tr>
                        <td><strong style="margin-right:5px;"><%= draft9.name_feature %></strong><% if (draft9.diet.includes("Gluten-Free")) { %><b style="color:#B9770E;"> GF</b><% } %><p class="availability"><%= draft9.availability %></p><br><%= draft9.description %></td>
                        <td><%= draft9.price_reg %></td>
                      </tr>
                      <% } %>
                      <% if (draft10.availability == '') { %>
                      <tr>
                        <td><strong style="margin-right:5px;"><%= draft10.name_feature %></strong><% if (draft10.diet.includes("Gluten-Free")) { %><b style="color:#B9770E;"> GF</b><% } %><p class="availability"><%= draft10.availability %></p><br><%= draft10.description %></td>
                        <td><%= draft10.price_reg %></td>
                      </tr>
                      <% } %> -->
                    </tbody>
                  </table>

                  <table class="table table-striped" style="text-align:left;">
                    <thead>
                      <tr>
                        <th colspan="2" style="text-align:center;">Feature Bottles/Cans</th>
                      </tr>
                    </thead>
                    <tbody>
                      <% if (bott1.availability == '') { %>
                      <tr>
                        <td><strong style="margin-right:5px;"><%= bott1.name_feature %></strong><% if (bott1.diet.includes("Gluten-Free")) { %><b style="color:#B9770E;"> GF</b><% } %><p class="availability"><%= bott1.availability %></p><br><%= bott1.description %></td>
                        <td><%= bott1.price_reg %></td>
                      </tr>
                      <% } %>
                      <% if (bott2.availability == '') { %>
                      <tr>
                        <td><strong style="margin-right:5px;"><%= bott2.name_feature %></strong><% if (bott2.diet.includes("Gluten-Free")) { %><b style="color:#B9770E;"> GF</b><% } %><p class="availability"><%= bott2.availability %></p><br><%= bott2.description %></td>
                        <td><%= bott2.price_reg %></td>
                      </tr>
                      <% } %>
                      <% if (bott3.availability == '') { %>
                      <tr>
                        <td><strong style="margin-right:5px;"><%= bott3.name_feature %></strong><% if (bott3.diet.includes("Gluten-Free")) { %><b style="color:#B9770E;"> GF</b><% } %><p class="availability"><%= bott3.availability %></p><br><%= bott3.description %></td>
                        <td><%= bott3.price_reg %></td>
                      </tr>
                      <% } %>
                      <% if (bott4.availability == '') { %>
                      <tr>
                        <td><strong style="margin-right:5px;"><%= bott4.name_feature %></strong><% if (bott4.diet.includes("Gluten-Free")) { %><b style="color:#B9770E;"> GF</b><% } %><p class="availability"><%= bott4.availability %></p><br><%= bott4.description %></td>
                        <td><%= bott4.price_reg %></td>
                      </tr>
                      <% } %>
                      <% if (bott5.availability == '') { %>
                      <tr>
                        <td><strong style="margin-right:5px;"><%= bott5.name_feature %></strong><% if (bott5.diet.includes("Gluten-Free")) { %><b style="color:#B9770E;"> GF</b><% } %><p class="availability"><%= bott5.availability %></p><br><%= bott5.description %></td>
                        <td><%= bott5.price_reg %></td>
                      </tr>
                      <% } %>
                      <% if (bott6.availability == '') { %>
                      <tr>
                        <td><strong style="margin-right:5px;"><%= bott6.name_feature %></strong><% if (bott6.diet.includes("Gluten-Free")) { %><b style="color:#B9770E;"> GF</b><% } %><p class="availability"><%= bott6.availability %></p><br><%= bott6.description %></td>
                        <td><%= bott6.price_reg %></td>
                      </tr>
                      <% } %>
                      <% if (bott7.availability == '') { %>
                      <tr>
                        <td><strong style="margin-right:5px;"><%= bott7.name_feature %></strong><% if (bott7.diet.includes("Gluten-Free")) { %><b style="color:#B9770E;"> GF</b><% } %><p class="availability"><%= bott7.availability %></p><br><%= bott7.description %></td>
                        <td><%= bott7.price_reg %></td>
                      </tr>
                      <% } %>
                      <% if (bott8.availability == '') { %>
                      <tr>
                        <td><strong style="margin-right:5px;"><%= bott8.name_feature %></strong><% if (bott8.diet.includes("Gluten-Free")) { %><b style="color:#B9770E;"> GF</b><% } %><p class="availability"><%= bott8.availability %></p><br><%= bott8.description %></td>
                        <td><%= bott8.price_reg %></td>
                      </tr>
                      <% } %>
                      <!-- <% if (bott9.availability == '') { %>
                      <tr>
                        <td><strong style="margin-right:5px;"><%= bott9.name_feature %></strong><% if (bott9.diet.includes("Gluten-Free")) { %><b style="color:#B9770E;"> GF</b><% } %><p class="availability"><%= bott9.availability %></p><br><%= bott9.description %></td>
                        <td><%= bott9.price_reg %></td>
                      </tr>
                      <% } %>
                      <% if (bott10.availability == '') { %>
                      <tr>
                        <td><strong style="margin-right:5px;"><%= bott10.name_feature %></strong><% if (bott10.diet.includes("Gluten-Free")) { %><b style="color:#B9770E;"> GF</b><% } %><p class="availability"><%= bott10.availability %></p><br><%= bott10.description %></td>
                        <td><%= bott10.price_reg %></td>
                      </tr>
                      <% } %> -->
                    </tbody>
                  </table>

                </div>
              </div>
            </div>

            <div class="accordion-item">
              <h2 class="accordion-header" id="wine">
                <button class="accordion-button collapsed text-center" type="button" data-bs-toggle="collapse" data-bs-target="#collapseWine" aria-expanded="false" aria-controls="collapseWine">
                  Wine
                </button>
              </h2>
              <div id="collapseWine" class="accordion-collapse collapse" aria-labelledby="wine" data-bs-parent="#accordionBeverages">
                <div class="accordion-body">
                  
                    <table class="table table-striped" style="text-align:left;">
                        <thead>
                          <tr>
                            <th colspan="2" style="text-align:center;">6 oz / 9oz / 750 mL Bottle</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td>

                              <!-- Button trigger modal -->
                              <button type="button" class="btn btn-link left-align p-0" data-bs-toggle="modal" data-bs-target="#modalClos16">
                                <strong>Clos du Soleil Célestiale . Meritage '16</strong>
                              </button>

                                <!-- Modal -->
                                <div class="modal fade" id="modalClos16" tabindex="-1" aria-labelledby="modalLabelClos16" aria-hidden="true">
                                  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                                    <div class="modal-content">
                                      <div class="modal-header text-center">
                                        <h4 class="modal-title w-100" id="modalLabelClos16">Clos du Soleil Célestiale . Meritage '16</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                      </div>
                                      <div class="modal-body">

                                        <table class="table table-striped" style="text-align:left;">
                                          <tbody>
                                            <tr>
                                              <td><strong>Varieties</strong></td>
                                              <td>56% Merlot, 29% Cabernet Sauvignon, 8% Malbec,
                                                7% Cabernet Franc</td>
                                            </tr>
                                            <tr>
                                              <td><strong>Tasting Notes</strong></td>
                                              <td>Aromas of cedar and raspberry compote with darker notes of blackberries, pencil lead and rich earth; fresh ripe fruit flavours of raspberry, blackberry, and pomegranate, with more subtle notes of forest undergrowth and grilled meat.</td>
                                            </tr>
                                            <tr>
                                              <td><strong>ABV</strong></td>
                                              <td>13.9%</td>
                                            </tr>
                                            <tr>
                                              <td><strong>Residual Sugar</strong></td>
                                              <td>2.4 g/L</td>
                                            </tr>
                                            <tr>
                                              <td><strong>Vineyard Sources</strong></td>
                                              <td>Chopaka Ridge Vineyard (Cawston), Clos du Soleil
                                                Estate Vineyard (Keremeos), Middle Bench Vineyard
                                                (Keremeos), La Côte Vineyard (Keremeos)</td>
                                            </tr>
                                          </tbody>
                                        </table>

                                        <p class="text-center">
                                          <button class="btn btn-link" type="button" data-bs-toggle="collapse" data-bs-target="#collapseClos16Ref" aria-expanded="false" aria-controls="collapseClos16Ref">
                                            Reference
                                          </button>
                                        </p>
                                        <div class="collapse" id="collapseClos16Ref">
                                          <div class="card card-body">
                                            Clark, M. Clos du Soleil: Célestiale 2016. Retrieved from <a href="https://www.closdusoleil.ca/wp-content/uploads/2020/04/Celestiale_2016_Tech_Sheet.pdf" target="_blank">https://www.closdusoleil.ca/wp-content/uploads/2020/04/Celestiale_2016_Tech_Sheet.pdf</a>
                                          </div>
                                        </div>

                                      </div>
                                    </div>
                                  </div>
                                </div>
                              
                                <p class="availability"><%= merit16.availability %></p><br>Similkameen Valley, BC</td>
                            <td>14 / 19 / 52</td>
                          </tr>
                          <tr>
                            <td>
                              
                              <!-- Button trigger modal -->
                              <button type="button" class="btn btn-link left-align p-0" data-bs-toggle="modal" data-bs-target="#modalClos18">
                                <strong>Clos du Soleil Capella . White Meritage '18</strong>
                              </button>

                                <!-- Modal -->
                                <div class="modal fade" id="modalClos18" tabindex="-1" aria-labelledby="modalLabelClos18" aria-hidden="true">
                                  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                                    <div class="modal-content">
                                      <div class="modal-header text-center">
                                        <h4 class="modal-title w-100" id="modalLabelClos18">Clos du Soleil Capella . White Meritage '18</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                      </div>
                                      <div class="modal-body">

                                        <table class="table table-striped" style="text-align:left;">
                                          <tbody>
                                            <tr>
                                              <td><strong>Varieties</strong></td>
                                              <td>85% Sauvignon Blanc, 15% Sémillon</td>
                                            </tr>
                                            <tr>
                                              <td><strong>Tasting Notes</strong></td>
                                              <td>Intense aromas of grapefruit, lemon curd and meadow grasses. The palate shows an array of flavours: lemon zest, ripe grapefruit, Anjou pear, pineapple and wisps of wood smoke.</td>
                                            </tr>
                                            <tr>
                                              <td><strong>ABV</strong></td>
                                              <td>13.1%</td>
                                            </tr>
                                            <tr>
                                              <td><strong>Residual Sugar</strong></td>
                                              <td>0.9 g/L</td>
                                            </tr>
                                            <tr>
                                              <td><strong>Vineyard Sources</strong></td>
                                              <td>Whispered Secret Vineyard, Keremeos BC (Sauv Blanc);
                                                Blind Creek Vineyard, Keremeos BC (Sauv Blanc);
                                                Dhaliwal Bros Vineyard, Oliver BC (Sémillon)</td>
                                            </tr>
                                          </tbody>
                                        </table>

                                        <p class="text-center">
                                          <button class="btn btn-link" type="button" data-bs-toggle="collapse" data-bs-target="#collapseClos18Ref" aria-expanded="false" aria-controls="collapseClos18Ref">
                                            Reference
                                          </button>
                                        </p>
                                        <div class="collapse" id="collapseClos18Ref">
                                          <div class="card card-body">
                                            Clark, M. Clos du Soleil: Capella 2018. Retrieved from <a href="https://www.closdusoleil.ca/wp-content/uploads/2020/11/Capella_2018_Tech_Sheet_Updated.pdf" target="_blank">https://www.closdusoleil.ca/wp-content/uploads/2020/11/Capella_2018_Tech_Sheet_Updated.pdf</a>
                                          </div>
                                        </div>

                                      </div>
                                    </div>
                                  </div>
                                </div>
                              
                                <p class="availability"><%= merit18.availability %></p><br>Similkameen Valley, BC</td>
                            <td>14 / 19 / 52</td>
                          </tr>
                          <tr>
                            <td><strong>Lapis Luna . Pinot Noir '19</strong><p class="availability"><%= lapisPinotNoir.availability %></p><br>California</td>
                            <td>11 / 14 / 38</td>
                          </tr>
                          <tr>
                            <td>
                              
                              <!-- Button trigger modal -->
                              <button type="button" class="btn btn-link left-align p-0" data-bs-toggle="modal" data-bs-target="#modalLapis18">
                                <strong>Lapis Luna . Chardonnay '18</strong>
                              </button>

                                <!-- Modal -->
                                <div class="modal fade" id="modalLapis18" tabindex="-1" aria-labelledby="modalLabelLapis18" aria-hidden="true">
                                  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                                    <div class="modal-content">
                                      <div class="modal-header text-center">
                                        <h4 class="modal-title w-100" id="modalLabelLapis18">Lapis Luna . Chardonnay '18</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                      </div>
                                      <div class="modal-body">

                                        <table class="table table-striped" style="text-align:left;">
                                          <tbody>
                                            <tr>
                                              <td><strong>Varietals</strong></td>
                                              <td>100% Chardonnay</td>
                                            </tr>
                                            <tr>
                                              <td><strong>Tasting Notes</strong></td>
                                              <td>Orange zest, ripe pineapple, toast and vanilla on the nose. Full-bodied, fresh and lively, with lush white peach and ripe apple flavors leading to a savory buttered finish.</td>
                                            </tr>
                                            <tr>
                                              <td><strong>ABV</strong></td>
                                              <td>14.2%</td>
                                            </tr>
                                            <tr>
                                              <td><strong>American Viticultural Area (AVA):</strong></td>
                                              <td>North Coast, CA (90% Mendocino County, Pauli Ranch; 10% Clarksburg)</td>
                                            </tr>
                                          </tbody>
                                        </table>

                                        <p class="text-center">
                                          <button class="btn btn-link" type="button" data-bs-toggle="collapse" data-bs-target="#collapseLapis18Ref" aria-expanded="false" aria-controls="collapseLapis18Ref">
                                            Reference
                                          </button>
                                        </p>
                                        <div class="collapse" id="collapseLapis18Ref">
                                          <div class="card card-body">
                                            Lapis Luna: Reach for the Moon. Retrieved from <a href="https://lapislunawines.com/" target="_blank">https://lapislunawines.com/</a>
                                          </div>
                                        </div>

                                      </div>
                                    </div>
                                  </div>
                                </div>

                                <p class="availability"><%= chard.availability %></p><br>California</td>
                            <td>11 / 14 / 38</td>
                          </tr>
                          <tr>
                            <td><strong>Wild Goose . Gewürtztraminer '18</strong><p class="availability"><%= gewurtz.availability %></p><br>Okanagan Valley, BC</td>
                            <td>11 / 15 / 40</td>
                          </tr>
                        </tbody>
                    </table>

                    <table class="table table-striped" style="text-align:left;">
                        <thead>
                          <tr>
                            <th colspan="2" style="text-align:center;">Bottles</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td><strong>Rosewood . Night Moves . Gamay '17</strong><p class="availability"><%= gamay.availability %></p><br>Niagara / 750 mL</td>
                            <td>58</td>
                          </tr>
                          <tr>
                            <td>
                              
                              <!-- Button trigger modal -->
                              <button type="button" class="btn btn-link left-align p-0" data-bs-toggle="modal" data-bs-target="#modalLaughing">
                                <strong>Laughing Stock . Portfolio Red '18</strong>
                              </button>

                                <!-- Modal -->
                                <div class="modal fade" id="modalLaughing" tabindex="-1" aria-labelledby="modalLabelLaughing" aria-hidden="true">
                                  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                                    <div class="modal-content">
                                      <div class="modal-header text-center">
                                        <h4 class="modal-title w-100" id="modalLabelLaughing">Laughing Stock . Portfolio Red '18</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                      </div>
                                      <div class="modal-body">

                                        <table class="table table-striped" style="text-align:left;">
                                          <tbody>
                                            <tr>
                                              <td><strong>Varietals</strong></td>
                                              <td>45% Merlot, 34% Cabernet Sauvignon, 15% Cabernet Franc, 3% Malbec, and 3% Petit Verdot</td>
                                            </tr>
                                            <tr>
                                              <td><strong>Tasting Notes</strong></td>
                                              <td>Dark fruit, herbaceous notes, and baking spice meet your nose first.  On the palate this wine has some sweet tobacco, dark cherry, a touch of cocoa powder, and a commanding finish. This full-bodied blend has big tannins and a long finish with lots of aging potential. This wine could cellar for a decade.</td>
                                            </tr>
                                            <tr>
                                              <td><strong>ABV</strong></td>
                                              <td>14.9%</td>
                                            </tr>
                                            <tr>
                                              <td><strong>Residual Sugar</strong></td>
                                              <td>1.5 g/L</td>
                                            </tr>
                                            <tr>
                                              <td><strong>Vineyards:</strong></td>
                                              <td>Sourced from 3 sites on the Naramata Bench and from the Perfect Hedge Vineyard in Osoyoos.</td>
                                            </tr>
                                          </tbody>
                                        </table>

                                        <p class="text-center">
                                          <button class="btn btn-link" type="button" data-bs-toggle="collapse" data-bs-target="#collapseLaughingRef" aria-expanded="false" aria-controls="collapseLaughingRef">
                                            Reference
                                          </button>
                                        </p>
                                        <div class="collapse" id="collapseLaughingRef">
                                          <div class="card card-body">
                                            Laughing Stock Vineyards: red wine. Retrieved from <a href="https://www.laughingstock.ca/Our-Wines/Red" target="_blank">https://www.laughingstock.ca/Our-Wines/Red</a>
                                          </div>
                                        </div>

                                      </div>
                                    </div>
                                  </div>
                                </div>
                              
                                <p class="availability"><%= laugh.availability %></p><br>Okanagan Valley, BC / 750 mL</td>
                            <td>85</td>
                          </tr>
                          <tr>
                            <td><strong>Pearl Morissette Cuvée Sputnik . Riesling '17</strong><p class="availability"><%= ries.availability %></p><br>Niagara / 750 mL</td>
                            <td>55</td>
                          </tr>
                        </tbody>
                    </table>

                    <table class="table table-striped" style="text-align:left;">
                      <thead>
                        <tr>
                          <th colspan="2" style="text-align:center;">Cans</td>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>
                            
                            <!-- Button trigger modal -->
                            <button type="button" class="btn btn-link left-align p-0" data-bs-toggle="modal" data-bs-target="#modalBenjamin">
                              <strong>Benjamin Bridge Pétillant Naturel Sparkling</strong>
                            </button>

                              <!-- Modal -->
                              <div class="modal fade" id="modalBenjamin" tabindex="-1" aria-labelledby="modalLabelBenjamin" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                                  <div class="modal-content">
                                    <div class="modal-header text-center">
                                      <h4 class="modal-title w-100" id="modalLabelBenjamin">Benjamin Bridge Pétillant Naturel Sparkling</h5>
                                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">

                                      <table class="table table-striped" style="text-align:left;">
                                        <tbody>
                                          <tr>
                                            <td><strong>Varietal:</strong></td>
                                            <td>100% Geisenheim</td>
                                          </tr>
                                          <tr>
                                            <td><strong>Tasting Notes</strong></td>
                                            <td>The wine is invitingly hazy, with a bright golden glow and emerald reflections. The nose is highly perfumed, with a myriad of floral and botanical aromas. On the palate, the wine refreshes instantaneously, thanks to ‘juicy’ suggestions of mandarin orange peel and citrus oil mist. A raw wine in its natural state, featuring a succulent combination of lightness and crushability.</td>
                                          </tr>
                                          <tr>
                                            <td><strong>ABV</strong></td>
                                            <td>10%</td>
                                          </tr>
                                          <tr>
                                            <td><strong>Residual Sugar</strong></td>
                                            <td>0 g/L</td>
                                          </tr>
                                        </tbody>
                                      </table>

                                      <p class="text-center">
                                        <button class="btn btn-link" type="button" data-bs-toggle="collapse" data-bs-target="#collapseBenjaminRef" aria-expanded="false" aria-controls="collapseBenjaminRef">
                                          Reference
                                        </button>
                                      </p>
                                      <div class="collapse" id="collapseBenjaminRef">
                                        <div class="card card-body">
                                          Benjamin Bridge. Retrieved from <a href="https://benjaminbridge.com/products/pet-nat-12-cans" target="_blank">https://benjaminbridge.com/products/pet-nat-12-cans</a>
                                        </div>
                                      </div>

                                    </div>
                                  </div>
                                </div>
                              </div>
                            
                              <p class="availability"><%= benjam.availability %></p><br>Nova Scotia / 250 mL</td>
                          <td>Market Price</td>
                        </tr>
                        <tr>
                          <td>
                            
                            <!-- Button trigger modal -->
                            <button type="button" class="btn btn-link left-align p-0" data-bs-toggle="modal" data-bs-target="#modalRichvale">
                              <strong>Richvale Pool Party Rosé</strong>
                            </button>

                              <!-- Modal -->
                              <div class="modal fade" id="modalRichvale" tabindex="-1" aria-labelledby="modalLabelRichvale" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                                  <div class="modal-content">
                                    <div class="modal-header text-center">
                                      <h4 class="modal-title w-100" id="modalLabelRichvale">Richvale Pool Party Rosé</h5>
                                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">

                                      <table class="table table-striped" style="text-align:left;">
                                        <tbody>
                                          <tr>
                                            <td><strong>Varietals:</strong></td>
                                            <td>80% Grenache, 20% Mourvèdre</td>
                                          </tr>
                                          <tr>
                                            <td><strong>ABV</strong></td>
                                            <td>12%</td>
                                          </tr>
                                          <tr>
                                            <td><strong>American Viticultural Area (AVA):</strong></td>
                                            <td>Central Coast, CA</td>
                                          </tr>
                                        </tbody>
                                      </table>

                                      <p class="text-center">
                                        <button class="btn btn-link" type="button" data-bs-toggle="collapse" data-bs-target="#collapseRichvaleRef" aria-expanded="false" aria-controls="collapseRichvaleRef">
                                          Reference
                                        </button>
                                      </p>
                                      <div class="collapse" id="collapseRichvaleRef">
                                        <div class="card card-body">
                                          Pool Party Rosé. Retrieved from <a href="https://www.richvalewine.com/pool-party" target="_blank">https://www.richvalewine.com/pool-party</a>
                                        </div>
                                      </div>

                                    </div>
                                  </div>
                                </div>
                              </div>
                            
                              <p class="availability"><%= rich.availability %></p><br>California / 250 mL</td>
                          <td>12</td>
                        </tr>
                      </tbody>
                  </table>

                </div>
              </div>
            </div>

            <div class="accordion-item">
                <h2 class="accordion-header" id="spirits">
                  <button class="accordion-button collapsed text-center" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSpirits" aria-expanded="false" aria-controls="collapseSpirits">
                    Spirits
                  </button>
                </h2>
                <div id="collapseSpirits" class="accordion-collapse collapse" aria-labelledby="spirits" data-bs-parent="#accordionBeverages">
                  <div class="accordion-body">
                    
                    <table class="table table-striped" style="text-align:left;">
                      <thead>
                        <tr>
                          <th colspan="2" style="text-align:center;">1 oz / 2 oz Straight Or Highball</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td><strong>Well Spirits</strong></td>
                          <td>7 / 11</td>
                        </tr>
                        <tr>
                          <td><strong>Vodka</strong><br>Grey Goose<p class="availability"><%= goose.availability %></p>/ CIROC<p class="availability"><%= ciroc.availability %></p></td>
                          <td>8 / 12</td>
                        </tr>
                        <tr>
                          <td><strong>Gin</strong><br>Tempo<p class="availability"><%= tempo.availability %></p>/ Ophir<p class="availability"><%= ophir.availability %></p>/ Long Table Cucumber<p class="availability"><%= cucumb.availability %></p></td>
                          <td>8 / 12</td>
                        </tr>
                        <tr>
                          <td><strong>Tequila</strong><br>Arette Blanco<p class="availability"><%= arette.availability %></p>/ Espolòn Reposado<p class="availability"><%= espol.availability %></p>/ Mezcal Pelotón<p class="availability"><%= mezcal.availability %></p></td>
                          <td>8 / 12</td>
                        </tr>
                        <tr>
                          <td><strong>Whisk(e)y</strong><br>Glendalough Irish<p class="availability"><%= glenIrish.availability %></p>/ Forty Creek Copper Pot<p class="availability"><%= forty.availability %></p>/ Nikka Coffee Still Malt (Japan)<p class="availability"><%= nikka.availability %></p>/ Lot 40 Rye<p class="availability"><%= lot40.availability %></p></td>
                          <td>9 / 13</td>
                        </tr>
                        <tr>
                          <td><strong>Scotch</strong><br>Adelphi Private Stock Blend<p class="availability"><%= adelph.availability %></p>/ Glengoyne 12<p class="availability"><%= glengoyn.availability %></p>/ Caol Ila 12<p class="availability"><%= caol.availability %></p>/ Laphroaig Select<p class="availability"><%= laph.availability %></p>/ Glenrothes 12<p class="availability"><%= glenroth.availability %></p></td>
                          <td>10 / 16</td>
                        </tr>
                        <tr>
                          <td><strong>Bourbon</strong><br>1792<p class="availability"><%= b1792.availability %></p>/ Buffalo Trace<p class="availability"><%= buffal.availability %></p>/ Bulleit<p class="availability"><%= bulleit.availability %></p>/ Knob Creek<p class="availability"><%= knob.availability %></p>/ Four Roses<p class="availability"><%= roses.availability %></p>/ Old Grand Dad<p class="availability"><%= dad.availability %></p>/ Sazerac<p class="availability"><%= sazerac.availability %></p></td>
                          <td>9 / 13</td>
                        </tr>
                        <tr>
                          <td><strong>Rum</strong><br>El Dorado 3 yr<p class="availability"><%= dorado3.availability %></p>/ El Dorado 12 yr<p class="availability"><%= dorado12.availability %></p>/ Blackpool Spiced<p class="availability"><%= blackpool.availability %></p></td>
                          <td>8 / 12</td>
                        </tr>
                        <tr>
                          <td><strong>Amaro & Bitters</strong><br>Averna Amaro / Fernet Branca / Nonino Amaro / Campari / Cocchi Storico / Confluence Vinland Aquavit</td>
                          <td>8 / 12</td>
                        </tr>
                      </tbody>
                  </table>

                </div>
              </div>
            </div>

            <div class="accordion-item">
                <h2 class="accordion-header" id="cocktails">
                  <button class="accordion-button collapsed text-center" type="button" data-bs-toggle="collapse" data-bs-target="#collapseCocktails" aria-expanded="false" aria-controls="collapseCocktails">
                    Cocktails
                  </button>
                </h2>
                <div id="collapseCocktails" class="accordion-collapse collapse" aria-labelledby="cocktails" data-bs-parent="#accordionBeverages">
                  <div class="accordion-body">
                    
                    <table class="table table-striped" style="text-align:left;">
                      <tbody>
                        <tr>
                          <td><strong>Boulevardier</strong><p class="availability"><%= boulev.availability %></p><br>3 oz / Bourbon, Sweet Vermouth, Italian Bitter</td>
                          <td>15</td>
                        </tr>
                        <tr>
                          <td><strong>Grandmother's Purse</strong><p class="availability"><%= grandmoth.availability %></p><br>2.5 oz / Dark Rum, Nonino Amaro, Lime, Cocoa Bitters</td>
                          <td>14</td>
                        </tr>
                        <tr>
                          <td><strong>Horse With No Mane</strong><p class="availability"><%= horse.availability %></p><br>2 oz / Arette Blanco Tequila, Smoked Chili Watermelon Syrup, Bitters, Black Lime, Mint Sprig</td>
                          <td>14</td>
                        </tr>
                        <tr>
                          <td><strong>Penicillin</strong><p class="availability"><%= penicill.availability %></p><br>2 oz / Peaty Scotch, Mulled Heather Honey, Ginger, Turmeric, Lemon, Cardamom</td>
                          <td>14</td>
                        </tr>
                        <tr>
                          <td><strong>Mimosa</strong><p class="availability"><%= mimosa.availability %></p></td>
                          <td>11</td>
                        </tr>
                        <tr>
                          <td>
                            
                            <!-- Button trigger modal -->
                            <button type="button" class="btn btn-link left-align p-0" data-bs-toggle="modal" data-bs-target="#modalSangria">
                              <strong>Sangria</strong>
                            </button>
                            
                            
                            <!-- Modal -->
                            <div class="modal fade" id="modalSangria" tabindex="-1" aria-labelledby="modalLabelSangria" aria-hidden="true">
                              <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                                <div class="modal-content">
                                  <div class="modal-header text-center">
                                    <h4 class="modal-title w-100" id="modalLabelSangria">Red Sangria</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                  </div>
                                  <div class="modal-body">
                                    <img src="/images/sangriaRed.jpg" id="foodImage" alt="Red Sangria">
                                  </div>
                                </div>
                              </div>
                            </div>
                            
                            <br>3 oz / Red<p class="availability"><%= sangria_r.availability %></p>or White<p class="availability"><%= sangria_w.availability %></p></td>
                          <td>11</td>
                        </tr>
                        <tr>
                          <td><strong>Caesar</strong><p class="availability"><%= caesar.availability %></p></td>
                          <td>8 / 12</td>
                        </tr>
                        <tr>
                          <td><strong>Mojito</strong><p class="availability"><%= mojito.availability %></p></td>
                          <td>9 / 14</td>
                        </tr>
                        <tr>
                          <td><strong>Old-Fashioned</strong><p class="availability"><%= oldfashioned.availability %></p></td>
                          <td>14</td>
                        </tr>
                      </tbody>
                  </table>

                </div>
              </div>
            </div>

            <div class="accordion-item">
                <h2 class="accordion-header" id="specialtyCoffees">
                  <button class="accordion-button collapsed text-center" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSpecialtyCoffees" aria-expanded="false" aria-controls="collapseSpecialtyCoffees">
                    Specialty Coffees
                  </button>
                </h2>
                <div id="collapseSpecialtyCoffees" class="accordion-collapse collapse" aria-labelledby="specialtyCoffees" data-bs-parent="#accordionBeverages">
                  <div class="accordion-body">
                    
                    <table class="table table-striped" style="text-align:left;">
                      <thead>
                        <tr>
                          <th colspan="2" style="text-align:center;">1 oz / 2 oz</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td><strong>B52</strong><p class="availability"><%= b52.availability %></p><br>Kahlua, Grand Marnier, Baileys</td>
                          <td>8 / 12</td>
                        </tr>
                        <tr>
                          <td><strong>Monte Cristo</strong><p class="availability"><%= monte.availability %></p><br>Kahlua, Grand Marnier</td>
                          <td>8 / 12</td>
                        </tr>
                        <tr>
                          <td><strong>Spanish</strong><p class="availability"><%= spanish.availability %></p><br>Kahlua, Brandy</td>
                          <td>8 / 12</td>
                        </tr>
                        <tr>
                          <td><strong>Irish</strong><p class="availability"><%= irish.availability %></p><br>Glendalough Whiskey, Whipped Cream</td>
                          <td>8 / 12</td>
                        </tr>
                        <tr>
                          <td><strong>Tiramisu</strong><p class="availability"><%= tiramisu.availability %></p><br>Frangelico, Almond Baileys, Hot Chocolate, Espresso</td>
                          <td>8 / 12</td>
                        </tr>
                      </tbody>
                    </table>

                  </div>
                </div>
            </div>

            <div class="accordion-item">
                <h2 class="accordion-header" id="coffeeNonalcoholic">
                  <button class="accordion-button collapsed text-center" type="button" data-bs-toggle="collapse" data-bs-target="#collapseCoffeeNonalcoholic" aria-expanded="false" aria-controls="collapseCoffeeNonalcoholic">
                    Coffee & Non-Alcoholic
                  </button>
                </h2>
                <div id="collapseCoffeeNonalcoholic" class="accordion-collapse collapse" aria-labelledby="coffeeNonalcoholic" data-bs-parent="#accordionBeverages">
                  <div class="accordion-body">
                    
                    <table class="table table-striped" style="text-align:left;">
                      <thead>
                        <tr>
                          <th colspan="2" style="text-align:center;">(Regular / Large)</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td><strong>Brewed Coffee / Tea</strong></td>
                          <td>3.50</td>
                        </tr>
                        <tr>
                          <td><strong>Espresso / Americano</strong></td>
                          <td>3 / 3.50</td>
                        </tr>
                        <tr>
                          <td><strong>Latte / Cappuccino</strong></td>
                          <td>4.50 / 5.50</td>
                        </tr>
                        <tr>
                          <td><strong>House-Made Chai Latte</strong><p class="availability"><%= chai.availability %></p></td>
                          <td>4.50 / 5.50</td>
                        </tr>
                        <tr>
                          <td><strong>Hot Chocolate<p class="availability"><%= hotchoc.availability %></p>/ London Fog<p class="availability"><%= london.availability %></p></strong></td>
                          <td>4</td>
                        </tr>
                        <tr>
                          <td><strong>Cold Brew</strong><p class="availability"><%= coldBrew.availability %></p><br>Kaffa Roastery's hot extracted Ethiopian Guji, rapidly chilled. Option of sweetened/unsweetened.</td>
                          <td>4</td>
                        </tr>
                        <tr>
                          <td>
                                
                            <!-- Button trigger modal -->
                            <button type="button" class="btn btn-link p-0" data-bs-toggle="modal" data-bs-target="#modalKaffa">
                              <strong>Kaffa Roastery Coffee Beans</strong>
                            </button>

                              <!-- Modal -->
                              <div class="modal fade" id="modalKaffa" tabindex="-1" aria-labelledby="modalLabelKaffa" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                                  <div class="modal-content">
                                    <div class="modal-header text-center">
                                      <h4 class="modal-title w-100" id="modalLabelKaffa">Kaffa Roastery Coffee Beans (340 g)</h5>
                                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">

                                      <table class="table" style="text-align:left;">
                                        <thead>
                                          <tr>
                                            <th scope="col" style="text-align:left;">Region</th>
                                            <th scope="col" style="text-align:left;"></th>
                                          </tr>
                                        </thead>
                                        <tbody>
                                          <tr>
                                            <td><strong>Costa Rica, Heredia</strong><br>Varietal: Caturra & Catuai<br>Notes: Baker's chocolate, brown sugar, cranberry tea</td>
                                            <td>18.10</td>
                                          </tr>
                                          <tr>
                                            <td><strong>El Salvador, Las Isabellas</strong><br>Notes: Molasses, cocoa, hazelnut</td>
                                            <td>18.10</td>
                                          </tr>
                                          <tr>
                                            <td><strong>Tanzania, Moshi</strong><br>Notes: Blueberry compote, lavender, dates</td>
                                            <td>18.10</td>
                                          </tr>
                                          <tr>
                                            <td><strong>Africa & Central America (Espresso Blend)</strong><br>Notes: Black tea, hazelnut, cassis</td>
                                            <td>20</td>
                                          </tr>
                                        </tbody>
                                      </table>

                                    </div>
                                  </div>
                                </div>
                              </div>
                            
                          </td>
                          <td></td>
                        </tr>
                        <tr>
                          <td><strong>Pop</strong><br>Coca-Cola<p class="availability"><%= cola.availability %></p>/ Diet Coke<p class="availability"><%= dietcoke.availability %></p>/ Sprite<p class="availability"><%= sprite.availability %></p>/ Cran-Soda<p class="availability"><%= cranSoda.availability %></p>/ Ice Tea<p class="availability"><%= iceTea.availability %></p>/ Ginger Ale<p class="availability"><%= gingerale.availability %></p></td>
                          <td>3</td>
                        </tr>
                        <tr>
                          <td><strong>S.Pellegrino Sparkling Fruit Beverages</strong><br>330 mL Can (Blood Orange<p class="availability"><%= pellBO.availability %></p>/ Orange<p class="availability"><%= pellO.availability %></p>/ Clementine<p class="availability"><%= pellClem.availability %></p>/ Lemon<p class="availability"><%= pellLem.availability %></p>)</td>
                          <td>3</td>
                        </tr>
                        <tr>
                          <td><strong>S.Pellegrino Sparkling Mineral Water</strong><br>250<p class="availability"><%= pell250.availability %></p>/ 750 mL Bottle<p class="availability"><%= pell750.availability %></p></td>
                          <td>2.50 / 5</td>
                        </tr>
                        <tr>
                          <td><strong>Annex (Root Beer<p class="availability"><%= annexRoot.availability %></p>/ Saskatoon Lemonade<p class="availability"><%= annexSask.availability %></p>)</strong></td>
                          <td>5</td>
                        </tr>
                        <tr>
                          <td><strong>Fever-Tree (Sicilian Lemonade<p class="availability"><%= feverLemonade.availability %></p>/ Ginger Beer<p class="availability"><%= feverGinger.availability %></p>)</strong><br><%= feverLemonade.description %></td>
                          <td>4</td>
                        </tr>
                        <tr>
                          <td><strong>Royal Jamaican Ginger Beer</strong><p class="availability"><%= jamaic.availability %></p></td>
                          <td>5</td>
                        </tr>
                        <tr>
                          <td><strong>New Level Painapple Punch Craft Soda</strong><p class="availability"><%= NLPain.availability %></p></td>
                          <td>6</td>
                        </tr>
                        <tr>
                          <td><strong>Stiegl Freibier Non-Alcoholic</strong><p class="availability"><%= freibier.availability %></p></td>
                          <td>6</td>
                        </tr>
                        <tr>
                          <td><strong>Fancy Tonic</strong><p class="availability"><%= tonic.availability %></p></td>
                          <td>4</td>
                        </tr>
                      </tbody>
                    </table>

                  </div>
                </div>
              </div>
      
      </div>
  <br>

<!-- jumbotron off-sales -->
<a id="offsales">
<div id="bannerOffsales">
  <h1 class="banner-text display-4 p-5">OFF-SALES</h1>
</div>
</a>

        <div class="accordion mb-5 pb-2" id="accordionOffsales">
          <div class="accordion-item">
            <h2 class="accordion-header" id="offsales">
              <button class="accordion-button text-center" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOffsales" aria-expanded="false" aria-controls="collapseOffsales">
                Click Me!
              </button>
            </h2>
            <div id="collapseOffsales" class="accordion-collapse collapse" aria-labelledby="offsales" data-bs-parent="#accordionOffsales">
              <div class="accordion-body">
                
                <table class="table" style="text-align:center;">
                  <tbody>
                    <tr>
                      <td>
                        <p><b>Visit us In-Store to browse our beer and wines!</b></p>
                        <img src="/images/offSalesPoster.jpg" id="offSalesPoster" alt="Off Sales Poster">
                      </td>
                    </tr>
                  </tbody>
                </table>

              </div>
            </div>
          </div>
        </div>

<div class="text-center">

  <!--error reporting-->
  <p><b>Have feedback (technical issues/suggestions) for this Beverage Menu?</b></p>

  <a href='mailto:thesugarbowledmonton@gmail.com'>
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-whatever="@mdo">Contact Us</button>
  </a>

  <!--GETFORM - NOT USING THIS SERVICE ANYMORE-->
  <!-- <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header text-center">
          <h5 class="modal-title w-100" id="exampleModalLabel">Feedback Form</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body" style="text-align:left;">

          <form id="myForm" name="myForm" action="https://getform.io/f/40140939-a62c-41a2-9f43-0d9adba40cd1" method="POST" accept-charset="UTF-8">
            <div class="form-group mb-3">
              <label for="sender-name" class="col-form-label">Your Name:</label>
              <input type="text" class="form-control" name="name">
            </div>
            <div class="form-group mb-3">
              <label for="sender-email" class="col-form-label">Your Email Address:</label>
              <input type="email" class="form-control" name="email" required>
            </div>
            <div class="form-group mb-3">
              <label for="message-text" class="col-form-label">Message:</label>
              <textarea type="text" class="form-control" rows="4" name="message" required></textarea>
            </div>
            <div class="form-group mb-3 text-center">
              <button type="submit" class="btn btn-primary">Submit</button>
            </div>
          </form>
          
        </div>
      </div>
    </div>
  </div> -->

  </div>
  <br> 
  <br>

  <!--footer-->
  <footer class="text-center mb-3" style="background-color: white; color: black;"><small><p id="year"></p></small></footer>

<!--content div-->
</div>

  <script>
    var year = new Date().getFullYear();
    document.getElementById('year').innerHTML = year + ' Sugarbowl';
  </script>

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>

  <!--bootstrap bundle with popper-->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>

</body>
</html>